body {
  margin: 0px;
  text-align: center;
  background-color: white ;
  background-image:url('../images/geometric-background-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#stage {
  height: 100% ;
  text-align: center;
}

#flash {
  height: 20px;
  color: white;
  margin-bottom: 10px;
}

div.box {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  display: inline-block;
  outline: solid;
  outline-width-width: 1px;
  outline-color: MidnightBlue;
}

#header {
  outline: solid;
  margin: 0px;
  border-bottom-width: 0px;
  opacity: 0% ;
  background-color: white ;
}

div.cell {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  display: inline-block;
  border: solid;
  border-width: 1px;
  border-color: MidnightBlue;
}

#check {
  margin: 10px;
}

.cell input {
  size: cover;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  border-width: 0px ;
  text-align: center;
  width: 30px;
  height: 30px;
}

#sudoku {
  padding: 0px 0px 0px 0px;
  font-size: 0;
  text-align: center;
}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: LightGrey;
}

#button1, #button2, #button3 {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  display: inline-block;
}